*
*/**
!final_models
!final_models/**
!evaluation
!evaluation/**
!mpgan
!mpgan/**
!jetnet
!jetnet/**
!datasets
!datasets/README.md
!*.py
!LICENSE
!README.md
!Dockerfile
!.gitignore
**/__pycache__
**/.DS_Store
