*
*/**

!mpgan
!mpgan/**
!ext_models
!ext_models/**
!gapt
!gapt/**

!trained_models
!trained_models/*
trained_models/*/**
!trained_models/*/args.txt
!trained_models/*/G_best_epoch.pt

!datasets
!datasets/*.py

!mnist
!mnist/**

!*.py
!LICENSE
!Dockerfile
!.gitignore
!.pre-commit-config.yaml
!pyproject.toml

!fpd
!fpd/*

setup.py
**/__pycache__
**/.DS_Store
*test*
