*
*/**
!final_models
!final_models/**
!evaluation
!evaluation/**
!mpgan
!mpgan/**
!jetnet
!jetnet/**
!datasets/README.md
!ext_models
!ext_models/**

!*.py
!LICENSE
!README.md
!Dockerfile
!.gitignore
setup.py
**/__pycache__
**/.DS_Store
*test*
